/*
	http://www.fontfabric.com/hero-free-font/
*/
@font-face { 
	font-family: 'hero';
	src: url('Hero.ttf') format('truetype');
	src: url('Hero light.ttf') format('truetype');
}

body {
	font-family: hero, helvetica, verdana, sans serif;
	font-size: 150%;
	margin: 0;
	padding: 0;
	border-width: 0;
	background-color: #FCFCFC;
}

a:link {
    text-decoration: none;
    color: #8C8C8C;
}

a:visited {
    text-decoration: none;
    color: #E5675A;
}

a:hover {
    text-decoration: none;
    color: #F4B5A6;
}

a:active {
    text-decoration: none;
    color: #2B1E1D;
}

header {
	border-bottom: 40px solid #E5E5E5;
	position: fixed;
	background: #FFFFFF;
	min-width: 100%; 
	height: 60px;
	padding-top: 1%;
    float: right;
    padding-right: 2%;
    padding-top: 1%;
    z-index: 1;
}

#yulia {
	width: 50%;
	height:90%;
}
#yasch {
	height: 55px;
}

#topnav {
	float: right; 
	padding-top: 4%;
	font-size: 110%;
}

footer {
	height: 100px;
	background-color: #2B1E1D;
	color: #FFFFFF;
	padding: 2%;
}

#fb {
	float: right;
	padding-right: 5%;
	padding-top: 1%;
}

#email {
	float: right;
	padding-right: 5%;
	padding-top: 0%;
}

.picrow {
	padding-top: 5%
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.caption {
	background-color: #FFFFFF;
	display: block;
}

.caption:hover
{
    border: 4px solid #B5B5B5;
    color: rgb(251,208,202);
    box-shadow: 0px 0px 10px 5px #EAD9D6; 
    opacity: 0.8;
    z-index: 0;
    position: relative;
 }
