body {
	font-family: hero, helvetica, verdana, sans serif;
	font-size: 150%;
	margin: 0;
	padding: 0;
	border-width: 0;
	background-color: #EAEAEA;
}

a:link {
    text-decoration: none;
    color: #8C8C8C;
}

a:visited {
    text-decoration: none;
    color: #E5675A;
}

a:hover {
    text-decoration: none;
    color: #F4B5A6;
}

a:active {
    text-decoration: none;
    color: #2B1E1D;
}


#toprow {
	border-bottom: 5px solid #939597;
	position: fixed;
	background: #FFFFFF;
	min-width: 100%; 
	height: 60px;
	padding-top: 1%

}

#header {
	float: left;
	padding-left: 3%
}


#topnav {
	float: right;
	padding-right: 2%;
	padding-top: 2%;
	font-size: 110%;

}

#footer {
	height: 100px;
	background-color: #2B1E1D;
	color: #FFFFFF;
	padding: 2%;
	margin-top: 5%;
}

#fb {
	float: right;
	padding-right: 5%;
	padding-top: 1%;
}

#email {
	float: right;
	padding-right: 5%;
}

